.char-data {
  font-family: monospace;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: #030852;
}

.char-data-container {
  margin: 12px 8px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px;
  width: '100%';
  overflow-y: scroll;
  cursor: pointer;
}

.data-highlight {
  border: 2px solid #092b00;
  color: #135200;
  border-radius: 3px;
  font-weight: 600;
}

.sticky-highlight {
  border: 2px solid #120338;
  color: #22075e;
  border-radius: 3px;
  font-weight: 600;
}